@using Sandbox
@using Sandbox.UI
@inherits PanelComponent
@namespace Sandbox

<root class="player-hud">
	<div class="name">@Name</div>
	<div class="name">@RoleName</div>
	<div class="name">@RoundStateName</div>

	<div class="card">
		<div class="stat">
			<div class="emoji">❤️</div>
			<div class="value">@HealthValue</div>
		</div>

		<div class="stat">
			<div class="emoji">🛡️</div>
			<div class="value">@ArmorValue</div>
		</div>

		<div class="stat">
			<div class="emoji">⌛</div>
			<div class="value">@TimeLeftValue</div>
		</div>
	</div>
</root>

@code {
	private float HealthValue => Player.Local.IsValid() ? Player.Local.Health : 0f;
	private float ArmorValue => Player.Local.IsValid() ? Player.Local.Armor : 0f;
	private string Name => Player.Local.IsValid() ? Player.Local.Name : "";
	private string RoleName => Player.Local.IsValid() ? Player.Local.RoleEnum.ToString() : "";
	private string RoundStateName => RoundManager.Instance.IsValid() ? RoundManager.Instance.State.ToString() : "";
	private string TimeLeftValue => RoundManager.Instance.IsValid() ? RoundManager.Instance.TimeLeft.ToString("F0") : "0";

	protected override void OnStart()
	{
	}

	protected override int BuildHash()
	=> System.HashCode.Combine(
		  (int)System.MathF.Round(HealthValue),
		  (int)System.MathF.Round(ArmorValue),
		  Name,
		  RoleName,
		  RoundStateName,
		  TimeLeftValue
	);
}
